.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 20%;
    right: 2%;
    background-color: rgba(201, 193, 193, 0.5);
    border-radius: 20px;
}

header,
footer {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

header {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid rgb(77, 14, 14);
    font-size: 2rem;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(77, 14, 14);
}

main {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
}

main .navigation {
    flex-basis: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 4px solid rgb(77, 14, 14);
}

main .panel {
    flex-grow: 1;
}


footer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    border-top: 4px solid rgb(77, 14, 14);
    color: rgb(77, 14, 14);
}