.listItems {
    width: 80%;
    list-style: none;
    margin: 5px 20px 5px 20px;
}

.listItems li {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}


.listItems li span:first-child {
    flex-grow: 1;
}

.listItems li span:nth-child(2) {
    margin-right: 12px;
    font-weight: bold;
}

.menu a {
    margin-left: 20px;
    font-size: 0;
}

.menu a button {
    height: 35px;
    width: 50px;
}