.selection {
    position: relative;
    width: 100%;
}

.selection p {
    display: inline-block;

}

.panel .selection button {
    width: 65px;
    margin: 0;
}

.panel .selection button:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 65%;

}

.panel .selection button:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 80%;
}

.summary {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
}