.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 15%;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid black;
}

.free {
    background-color: rgba(112, 155, 12, 0.7);
}

.taken {
    background-color: rgba(238, 17, 17, 0.7);
}

.tables .table h1 {
    margin: 5px 0;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.table div.picture {
    width: 100%;
    height: 80px;
    background-image: url("../images/table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tables .table a {
    font-size: 0;
    margin: 5px 0;
    width: 80%;
}

.panel .table a button {
    width: 100%;
    height: 20px;
}

@media(max-width: 1024px) {
    .table div.picture {
        width: 80%;
        height: 75px;
    }
}